name: Traffic Stats

on:
  schedule:
    # Každý den v 3:00 UTC (kvůli 14dennímu limitu GitHub Traffic)
    - cron: "0 3 * * *"
  workflow_dispatch: # Ruční spuštění

permissions:
  contents: write

jobs:
  traffic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Traffic Data
        id: traffic
        uses: yi-Xu-0100/traffic-to-badge@v1.4.0
        with:
          my_token: ${{ secrets.TRAFFIC_TOKEN }}
          static_list: ${{ github.repository }}

      - name: Deploy to traffic branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: ${{ steps.traffic.outputs.traffic_branch }}
          publish_dir: ${{ steps.traffic.outputs.traffic_path }}
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: 'Update traffic data'
